@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONT RESET */
html {
    font-family: sans-serif;
}

/* IMG RESET */
img {
    width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

/* // ANCHOR utility classes */

.btn-blue {
    background-color: rgba(1, 97, 254, 1);
    color: white;
    padding: 10px 15px;
}

.w-60 {
    width: 60%;
    margin: 0 auto;
}

.w-80 {
    width: 80%;
    margin: 0 auto;
}

.w-90 {
    width: 90%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.section-title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: white;
    font-weight: 400;
}


/* // ANCHOR begin header style */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    border: 1px dashed red;
}

nav .nav-left, nav .nav-right {
    display: flex;
    align-items: center;
}

nav .nav-right ul {
    padding-right: 10px;
}

nav .nav-right ul li.btn-blue a {
    color: white;
}

nav .nav-right ul li.btn-blue a i {
    padding-left: 20px;
}

nav .nav-right ul li.btn-blue:hover a i {
    position: relative;
    left: 5px;
}

nav .nav-left .logo img {
    height: 7vh;
    width: 7vh;
}

nav .nav-left .logo-scritta img {
    height: 4vh;
    padding-left: 10px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}


/* // ANCHOR begin main style */

main {
    background-color: rgba(30, 25, 25, 1);
    padding-top: 10vh;
    color: white;
}

#first-cta {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding: 50px
}

#first-cta p {
    line-height: 24px;
}

#first-cta .btn-blue {
    padding: 25px 40px;
    color: rgba(30, 25, 25, 1);
    font-weight: bold;
}

#first-cta .btn-blue:hover {
    background-color: rgba(50, 127, 254, 1);
}

#first-cta .btn-blue:hover i {
    position: relative;
    left: 5px;
}

#first-cta .btn-blue i {
    padding-left: 20px;
}

video {
    border: 2px solid red;
}